@font-face{
  font-family:Slack;
  src:url(/fonts/slack/slack-icons-Regular.eot);
  src:url(/fonts/slack/slack-icons-Regular.eot?#iefix) format("embedded-opentype"),url(/fonts/slack/slack-icons-Regular.woff) format("woff"),url(/fonts/slack/slack-icons-Regular.ttf) format("truetype"),url(/fonts/slack/slack-icons-Regular.svg#Slack) format("svg");
  font-style:normal;
  font-weight:400
}
.monkey_scroll_hider{
  overflow:hidden
}
.monkey_scroller{
  overflow-x:hidden
}
.monkey_scroller::-webkit-scrollbar{
  width:0;
  height:0
}
.small{
  font-size:.9rem
}
.ts_icon:before,ts-icon:before{
  display:inline-block;
  font:400 20px Slack
}
h1 .ts_icon:not(.ts_icon_base_size):before,h1 ts-icon:not(.ts_icon_base_size):before,h2 .ts_icon:not(.ts_icon_base_size):before,h2 ts-icon:not(.ts_icon_base_size):before,h3 .ts_icon:not(.ts_icon_base_size):before,h3 ts-icon:not(.ts_icon_base_size):before{
  font-size:inherit
}
.ts_icon_filter:before{
  content:'\E086'
}
.ts_icon_snooze_outline:before{
  content:'\E152'
}
.ts_icon_plus_circle:before{
  content:'\E212'
}
.ts_icon_times_circle:before{
  content:'\E214'
}
.ts_icon_star:before{
  content:'\E500'
}
.ts_icon_heart:before{
  content:'\E515'
}
.ts_icon_chevron_down:before{
  content:'\E252'
}
.ts_icon_presence:before{
  content:'\E506'
}
.away>.ts_icon_presence:before{
  content:'\E507'
}
